{% extends 'main.html' %}

{% block content %}

<div id="home-container">
    <div id="upper-container">
        <div id="left-part">
            <h1>LEFT PART</h1>
        </div>

        <div id="right-part">
            <h1>RIGHT PART</h1>
            <h1>RIGHT PART</h1>
            <h1>RIGHT PART</h1>
            <h1>RIGHT PART</h1>
            <h1>RIGHT PART</h1>
            <h1>RIGHT PART</h1>
            <h1>RIGHT PART</h1>
            <h1>RIGHT PART</h1>
            <h1>RIGHT PART</h1>
            <h1>RIGHT PART</h1>

        </div>
    </div>
    <div>
        <hr>
    </div>
</div>


{% endblock content %}